<div class="container" style="margin: 20px">
    <div class="row">
<button type="button" class="btn btn-outline-primary" (click)="CategoryProducts('HomeApp')">Home App</button>
<button type="button" class="btn btn-outline-secondary" (click)="CategoryProducts('Fashion')">Fashion</button>
<button type="button" class="btn btn-outline-success" (click)="CategoryProducts('Mobile')">Mobiles</button>
<button type="button" class="btn btn-outline-danger" (click)="CategoryProducts('Jewellery')">Jewellery</button>
<button type="button" class="btn btn-outline-warning" (click)="CategoryProducts('Laptops')">Laptops</button>
<button type="button" class="btn btn-outline-info" (click)="CategoryProducts('Cameras')">Cameras</button>
</div>
</div>
<hr>

<style>
    button {
       margin-right: 50px
   }
   .container,.row,.btn
   {
       align-content: center;
   }
</style>