<div class="container">
    <div class="row">
        <div class="col-md-10">Shopping Cart</div>
        <div class="col">Items ({{cartItems.length}})</div>
    </div>

    <div *ngIf="cartItems.length=== 0" class="alert alert-info">Your Cart is empty</div>
    <ul *ngIf="cartItems.length > 0" class="list-group">
        <li class="list-group-item" *ngFor="let item of cartItems">
            <app-cartitem [cartitem]="item"></app-cartitem>
        </li>
    </ul>
</div>
<style>
    .row{
        font-size: 25px;
        color: darkgreen;
        font-family: bold;
    }
</style>