<header class="topheader">
<div id="masterheader">
    <div class="d-flex flex-column flex-md-row align-items-center p-2">
      <a class="my-0 mr-md-auto font-weight-bolder"  [routerLink]="'/Home'">Home</a>
        <nav class="my-1 my-md-0 mr-md-3">
           <a class="p-2" id="navlinks" [routerLink]="'/login'" >{{linkText}}</a>
           <a class="p-2" id="navlinks" href="#">Return & Orders</a>
           <a class="p-2" id="navlinks" [routerLink]="'/cart'">Cart</a>
        </nav>
      <a class="btn btn-warning font-weight-bolder" href="#" style="color: black;">Sign up</a>
    </div>
</div>
</header>

  <style>
    
    #masterheader {
    margin-bottom: auto;
    clear: left;
    margin: 0;
    background-color:black;
    border-bottom: 4px solid hsl(32, 98%, 51%);
    height: 60px;
    }
  a{
      font-weight: bolder;
      color: gainsboro;
    }
    #navlinks:after{
      content: "|";
      position: absolute;
      top: 16px;
      margin-left: 5px;
    }
  </style>