/* You can add global styles to this file, and also import other style files */
body{
    background-color:silver
}
.modal-content
{
    width: 600px;
    height: 600px
}

.cdk-global-overlay-wrapper {
    align-items: flex-start !important;
    justify-content: flex-start !important
  }